.left-sidebar {
	background-color: #f9f9f9;
    border-radius: 5px;
	padding: 25px;

	.single-widget {
		border-bottom: 1px solid rgba(104, 105, 125, 0.1);
        padding: {
            left: 25px;
            right: 25px;
            bottom: 25px;
        };
        margin: {
            left: -25px;
            right: -25px;
            bottom: 25px;
        };
		h3 {
			font-size: 20px;
			margin-bottom: 20px;
		}
        form {
            position: relative;

            .form-control {
                background-color: var(--whiteColor);
                height: 54px;
            }
            .src-btn {
                top: 14px;
                padding: 0;
                right: 17px;
                border: none;
                position: absolute;
                background-color: transparent;
                transition: var(--transition);

                &:hover {
                    color: var(--primaryColor);
                }
            }
        }
        .custom-filters {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-bottom: 15px;

				.form-check {
					margin-bottom: 0;
				}
                .form-check-input {
					width: 20px;
					height: 20px;
                    border-radius: 0;
                    box-shadow: none;
                    margin-top: 0.10em;
					border: 1px solid #e5e5e5;

					&:checked {
						background-color: var(--primaryColor);
						border-color: var(--primaryColor);
					}
				}
				label {
					margin-left: 8px;
				}
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .form-select {
            height: 54px;
            cursor: pointer;
            border-radius: 5px;
            color: var(--blackColor);
            font-size: var(--fontSize);
            border: 1px solid #e5e5e5;
            box-shadow: unset !important;
            transition: var(--transition);
            background-color: var(--whiteColor);
            padding: {
                left: 20px;
                right: 20px;
            };
            &:focus {
                border-color: var(--primaryColor);
        
                &::placeholder {
                    color: transparent;
                }
            }
        }
		.custom-rating {
            padding-left: 0;
            margin-bottom: -5px;
            list-style-type: none;

            li {
                width: 47px;
                height: 47px;
                cursor: pointer;
                line-height: 47px;
                text-align: center;
                border-radius: 5px;
                display: inline-block;
                border: 1px solid #e5e5e5;
                transition: var(--transition);
                background-color: var(--whiteColor);
                margin: {
                    right: 5px;
                    bottom: 5px;
                };
                span {
                    position: relative;
                    font-weight: 600;
                    top: -1px;
                }
                i {
                    position: relative;
                    color: #ffc444;
                    margin-left: 2px;
                    line-height: 1;
                    top: 1px;
                }
                &:hover {
                    border-color: var(--primaryColor);
                }
                &:last-child {
                    margin-right: 0;
                }
            }
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
            border-bottom: none;
		}
	}
}
.hotels-listing {
	padding-left: 10px;

	.sorting {
		padding-left: 0;
		margin-bottom: 30px;
		list-style-type: none;

		li {
			.form-select {
				border: none;
				cursor: pointer;
                box-shadow: none;
                margin-bottom: -3px;
                padding: 0 22px 3px 0;
				color: var(--paragraphColor);
                background: {
                    position: right 0 center;
                    color: transparent;
                };
			}
		}
	}
}
.hotels-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;

	
}


/* Max width 767px */
@media only screen and (max-width : 767px) {

    .left-sidebar {
        padding: 20px;
        margin-bottom: 25px;
    
        .single-widget {
            padding: {
                left: 20px;
                right: 20px;
                bottom: 20px;
            };
            margin: {
                left: -20px;
                right: -20px;
                bottom: 20px;
            };
            h3 {
                font-size: 16px;
                margin-bottom: 20px;
            }
            form {
                .form-control {
                    height: 50px;
                }
                .src-btn {
                    top: 15px;
                    right: 15px;
                }
            }
            .custom-filters {
                li {
                    .form-check {
                        margin-bottom: 0;
                    }
                    .form-check-input {
                        width: 16px;
                        height: 16px;
                        margin-top: 0.18em;
                    }
                    label {
                        margin-left: 4px;
                    }
                }
            }
            .form-select {
                height: 50px;
                font-size: 14px;
                padding: {
                    left: 12px;
                    right: 12px;
                };
            }
            .custom-rating {
                li {
                    width: 44px;
                    height: 44px;
                    line-height: 44px;
                }
            }
        }
    }
    .hotels-listing {
        padding-left: 0;
    
        .sorting {
            margin-bottom: 25px;
    
            li {
                .form-select {
                    font-size: 14px;
                }
            }
        }
    }
    .hotels-list {
        .single-hotel-box {
            padding: 20px;
    
            .content {
                border-right: none;
                padding-right: 0;
                margin-top: 20px;
    
                h3 {
                    font-size: 17px;
                    margin-bottom: 7px;
                }
                .rating {
                    i {
                        font-size: 16px;
                    }
                }
                .price {
                    margin-bottom: 15px;
                    font-size: 16px;

                    span {
                        font-size: 14px;
                    }
                }
                .default-btn {
                    padding: {
                        top: 11px;
                        bottom: 11px;
                    };
                }
            }
            .info {
                margin-top: 15px;

                li {
                    padding-left: 22px;
                    margin-bottom: 12px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .hotels-list {
        .single-hotel-box {
            .info {
                margin-top: 0;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .left-sidebar {
        margin-bottom: 25px;
    
        .single-widget {
            border-bottom: 1px solid rgba(104, 105, 125, 0.1);
            padding: {
                left: 25px;
                right: 25px;
                bottom: 25px;
            };
            margin: {
                left: -25px;
                right: -25px;
                bottom: 25px;
            };
            h3 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            form {
                position: relative;
    
                .form-control {
                    background-color: var(--whiteColor);
                    height: 54px;
                }
                .src-btn {
                    top: 14px;
                    padding: 0;
                    right: 17px;
                    border: none;
                    position: absolute;
                    background-color: transparent;
                    transition: var(--transition);
    
                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
            .custom-filters {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;
    
                li {
                    margin-bottom: 15px;
    
                    .form-check {
                        margin-bottom: 0;
                    }
                    .form-check-input {
                        width: 20px;
                        height: 20px;
                        border-radius: 0;
                        box-shadow: none;
                        margin-top: 0.10em;
                        border: 1px solid #e5e5e5;
    
                        &:checked {
                            background-color: var(--primaryColor);
                            border-color: var(--primaryColor);
                        }
                    }
                    label {
                        margin-left: 8px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .form-select {
                height: 54px;
                cursor: pointer;
                border-radius: 5px;
                color: var(--blackColor);
                font-size: var(--fontSize);
                border: 1px solid #e5e5e5;
                box-shadow: unset !important;
                transition: var(--transition);
                background-color: var(--whiteColor);
                padding: {
                    left: 20px;
                    right: 20px;
                };
                &:focus {
                    border-color: var(--primaryColor);
            
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            .custom-rating {
                padding-left: 0;
                margin-bottom: -5px;
                list-style-type: none;
    
                li {
                    width: 47px;
                    height: 47px;
                    cursor: pointer;
                    line-height: 47px;
                    text-align: center;
                    border-radius: 5px;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                    transition: var(--transition);
                    background-color: var(--whiteColor);
                    margin: {
                        right: 5px;
                        bottom: 5px;
                    };
                    span {
                        position: relative;
                        font-weight: 600;
                        top: -1px;
                    }
                    i {
                        position: relative;
                        color: #ffc444;
                        margin-left: 2px;
                        line-height: 1;
                        top: 1px;
                    }
                    &:hover {
                        border-color: var(--primaryColor);
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .hotels-listing {
        padding-left: 0;
    
        .sorting {
            margin-bottom: 25px;
        }
    }
    .hotels-list {
        .single-hotel-box {
            .content {
                margin-top: 20px;
            }
            .info {
                margin-top: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .left-sidebar {
        padding: 20px;
    
        .single-widget {
            padding: {
                left: 20px;
                right: 20px;
                bottom: 20px;
            };
            margin: {
                left: -20px;
                right: -20px;
                bottom: 20px;
            };
            h3 {
                font-size: 18px;
            }
            .custom-filters {
                li {
                    margin-bottom: 15px;
    
                    .form-check {
                        margin-bottom: 0;
                    }
                    .form-check-input {
                        width: 14px;
                        height: 14px;
                        margin-top: 0.25em;
                    }
                    label {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .hotels-listing {
        padding-left: 0;
    }
    .hotels-list {
        .single-hotel-box {
            .content {
                margin-top: 22px;
            }
            .info {
                margin-top: 22px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .hotels-list {
        .single-hotel-box {
            padding: 20px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}





.linear-progress {
    background: #bbdefb;
    height: 4px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    overflow: hidden;
    -webkit-animation: start 0.3s ease-in;
            animation: start 0.3s ease-in;
  }
  .linear-progress.small {
    width: 15%;
    height: 2px;
  }
  .linear-progress .bar {
    position: absolute;
    background: #1565c0;
    transition: transform 0.2s linear;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .linear-progress .bar1 {
    -webkit-animation: progressLinearMovement 2.5s infinite;
            animation: progressLinearMovement 2.5s infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
  .linear-progress .bar2 {
    left: -100%;
    -webkit-animation: progressLinearMovement 2.5s infinite;
            animation: progressLinearMovement 2.5s infinite;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .linear-progress-material {
    background: #aad1f9;
    height: 4px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    overflow: hidden;
    -webkit-animation: start 0.3s ease-in;
            animation: start 0.3s ease-in;
  }
  .linear-progress-material.small {
    width: 15%;
    height: 2px;
  }
  .linear-progress-material .bar {
    position: absolute;
    background: #106cc8;
    transition: transform 0.2s linear;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .linear-progress-material .bar1 {
    -webkit-animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
            animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
  }
  .linear-progress-material .bar2 {
    -webkit-animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
            animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
  }
  @-webkit-keyframes growBar1 {
    0% {
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      transform: scaleX(0.1);
    }
    36.6% {
      -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
              animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      transform: scaleX(0.1);
    }
    69.15% {
      -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
              animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      transform: scaleX(0.83);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @keyframes growBar1 {
    0% {
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      transform: scaleX(0.1);
    }
    36.6% {
      -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
              animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      transform: scaleX(0.1);
    }
    69.15% {
      -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
              animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      transform: scaleX(0.83);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @-webkit-keyframes moveBar1 {
    0% {
      left: -105.16667%;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    20% {
      left: -105.16667%;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
              animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    }
    69.15% {
      left: 21.5%;
      -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
              animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    }
    100% {
      left: 95.44444%;
    }
  }
  @keyframes moveBar1 {
    0% {
      left: -105.16667%;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    20% {
      left: -105.16667%;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
              animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    }
    69.15% {
      left: 21.5%;
      -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
              animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    }
    100% {
      left: 95.44444%;
    }
  }
  @-webkit-keyframes growBar2 {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
              animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      transform: scaleX(0.1);
    }
    19.15% {
      -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
              animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      transform: scaleX(0.57);
    }
    44.15% {
      -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
              animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      transform: scaleX(0.91);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @keyframes growBar2 {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
              animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      transform: scaleX(0.1);
    }
    19.15% {
      -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
              animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      transform: scaleX(0.57);
    }
    44.15% {
      -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
              animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      transform: scaleX(0.91);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @-webkit-keyframes moveBar2 {
    0% {
      left: -54.88889%;
      -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
              animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    }
    25% {
      left: -17.25%;
      -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
              animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    }
    48.35% {
      left: 29.5%;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
              animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    }
    100% {
      left: 117.38889%;
    }
  }
  @keyframes moveBar2 {
    0% {
      left: -54.88889%;
      -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
              animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    }
    25% {
      left: -17.25%;
      -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
              animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    }
    48.35% {
      left: 29.5%;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
              animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    }
    100% {
      left: 117.38889%;
    }
  }
  @-webkit-keyframes start {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 20px;
      opacity: 1;
    }
  }
  @keyframes start {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 20px;
      opacity: 1;
    }
  }
  @-webkit-keyframes end {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 2px;
      opacity: 1;
    }
  }
  @keyframes end {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 2px;
      opacity: 1;
    }
  }
  @-webkit-keyframes progressLinearMovement {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes progressLinearMovement {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  