.single-hotel-box {
    background-color: #f9f9f9;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 30px;

    img {
        border-radius: 5px;
    }
    .content {
        border-right: 1px solid #eeeeee;
        padding-right: 20px;

        h3 {
            font-size: 22px;
            margin-bottom: 7px;
        }
        p {
            margin-bottom: 8px;
        }
        .rating {
            margin-bottom: 8px;

            i {
                font-size: 18px;
                color: #f99e29;
                margin-right: 2px;
            }
        }
        .price {
            margin-bottom: 20px;
            font: {
                size: 20px;
                weight: 700;
            };
            span {
                font: {
                    weight: normal;
                    size: 15px;
                };
            }
        }
        .default-btn {
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
    }
    .info {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            position: relative;
            padding-left: 25px;
            margin-bottom: 20px;
            
            i {
                color: var(--primaryColor);
                position: absolute;
                left: 0;
                top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}